@keyframes slides {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}


.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #fff;
    overflow: hidden;
}

.slide-anim:hover{
    animation-play-state: paused;
}

.slide-anim{
    display: flex;
    width: 100%;
    height: 100%;
    /* animation: 35s slides infinite linear; */
    flex-direction: row;
}