@keyframes slideInLeft1 {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInLeft2 {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

.carousel-div{
    width: 38vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-div-wrapper{
    width: 100%;
    height: 80%;
    padding: 10px;
    transition: transform 1.3s;
    outline: 2px solid #242424; 
    }

.marvin-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.carousel-div-wrapper:hover{
    transform: translateY(-30px);
}

.animation1{
    animation-name: slideInLeft1;
    animation-duration: 1.3s;
    animation-timing-function: ease;
}

.animation2{
    animation-name: slideInLeft2;
    animation-duration: 1.3s;
    animation-timing-function: ease;
}

@media screen and (max-width: 960px){
    .carousel-div{
        width: 100vw;
    }
}